@model TsiiApp.ViewModels.ChartViewModel
@{
    ViewBag.Title = "DisplayChart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="info" style="display:block;">Loading data from @Model.ChartName</div>
<div id="nav" style="height: 100px; display: none;">

	<div id="message" style="color: red; display: none"></div>
	
	<div>Use fields below to select chart type</div>
	<div id="chart">
		<div class="field"><input type="radio" name="chartType" value="2d" checked />2D chart</div>
		<div class="field"><input type="radio" name="chartType" value="3d" />3D chart</div>
	</div>
	
	<div>Use fields below to select attributes</div>
	<div id="fields">
		<div class="field">
			<select id="classAttr">
				<option selected="true">Select class attribute</option>
			</select>
		</div>
		<div class="field">
			<select id="labelX">
				<option selected="true">Select column</option>
			</select>
		</div>
		<div class="field">
			<select id="labelY">
				<option selected="true">Select column</option>
			</select>
		</div>
		<div class="field">
			<select id="labelZ" disabled="disabled">
				<option selected="true">Select column</option>
			</select>
		</div>
		<div class="field">
			<input type="button" value="Display" onClick="showGraph('@Model.ChartName');"/>
		</div>
	</div>
</div>

<div id="plot"></div>

<script>
	document.addEventListener("DOMContentLoaded", function(e){
		Chart.loadData('@Model.ChartName', '@Url.Action("GetChartDataAsJson", "Chart", new { fileName = Model.ChartName })');
	});
</script>