@model TsiiApp.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}


@if (Model.Filenames.Count > 0)
{
    <h1>List of files:</h1>
    foreach (var item in Model.Filenames)
    {
        <a href="@Url.Action("DisplayChart", "Chart", new { fileName = item })">@item</a>
        <br />
    }
}
else
{
    <h1>No personal files found :(</h1>
}

<h1>Check our example file!</h1>
<p>Here is a basic example how our chart works. Click on the file name to see the chart.</p>
<a href="@Url.Action("DisplayChart", "Chart", new { fileName = "custom_chart_example" })">Example chart</a>
